//colors
$gray-light: #c5c5c5;
$gray: #545454;
$gray-strong: #4c4c4c;
$orange-light: #f1cdb3;
$black: #292929;
$white: #f6f6f6;

//responsive
$laptop-L: "max-width: 1366px";

$laptop: "max-width: 1024px";
$laptop-h: "max-height: 1024px";
$laptop-land: "max-width: 1366px";

$tablet: "max-width: 768px";
$tablet-h: "max-width: 768px";
$tablet-land: "max-height: 1024px";

$mobile-L: "max-width: 414px";
$mobile-L-h: "max-height: 414px";
$mobile-L-land: "max-width: 736px";

$mobile-M: "max-width: 375px";
$mobile-M-h: "max-height: 375px";
$mobile-M-land: "max-width: 667px";
$mobile-M-land-X: "max-width: 823px";

$mobile-S: "max-width: 320px";
$mobile-S-h: "max-height: 320px";
$mobile-S-land: "max-width: 568px";
