@import "../../sass/functions";
@import "../../sass/vars";

.Article {
  height: 100%;

  position: relative;

  border: 1px rgba($blue, 0.3) solid;

  text-align: center;

  overflow: hidden;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 1px 1px 20px 0px rgba(black, 0.2);
  }

  .Header {
    height: 200px;

    .Image {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .Title {
    padding: 0 10px;
    margin-top: 10px;

    font-size: calcFluidFontSize(11, 15);
  }

  .Content {
    margin-top: 10px;
    padding: 10px;

    font-size: calcFluidFontSize(10, 14);
  }

  .Footer {
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    box-sizing: border-box;

    .Author {
      width: 200px;
      height: 20px;

      font-size: calcFluidFontSize(10, 12);
      text-align: left;

      overflow: hidden;
    }

    .Data {
      color: rgba(black, 0.4);

      font-size: 10px;
    }
  }
}
