.News {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .ArticleContainer {
    width: 550px;
    height: 100%;

    margin: 10px;
  }
}
