.Layout {
  .Header {
    height: 60px;

    display: flex;

    background: #669eff;

    box-shadow: 1px 1px 5px 1px rgba(black, 0.3);

    .Container {
      width: 100%;
      max-width: 1200px;
      height: 100%;

      display: flex;
      align-items: center;
      margin: auto;

      .Logo {
        color: white;

        font-size: 20px;
      }
    }
  }
}
